body{
	color:#505050;
	font:76% Georgia,Verdana,Tahoma,Arial,sans-serif;
	padding:0;
	text-align:center;
	background-color: #e0e0e0;
	background-image: url(images/bg.gif);
}

p{
line-height:1.5em;
margin:0 0 15px;
}

a{
color:#2f4861;
font-weight:700;
text-decoration:none;
}

a:hover{
color:#d04a10;
}
.clearer {
       clear: both;
}
hr{
height:1px;
margin:10px 0;
width:98%;
}

dt{
font-weight:700;
}

dd{
margin:1px 0 12px 0px;
}

#container{
	margin:0px auto 0px auto;
	text-align:left;
	width:989px;
	background-repeat: no-repeat;
	background-image: url(images/bodybg.gif);
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;
	background-color: #FFFFFF;

}

#sitename{

	color:#ffffff;
	font-weight:400;
	height:80px;
	margin:0 20px 0px 0;
	text-align:center;
	background-repeat: no-repeat;
	background-position: left top;
}

#sitename h1{
font-size:2.2em;
margin:0;
padding-top:20px;
}

#sitename span{
font-size:1.6em;
letter-spacing:-1px;
margin:0;
}
#search{
padding-top: 13px;
margin-bottom:0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	height: 15px;
	width: 330px;
	float: left;
padding-left: 650px;
}
#searchimg {margin: 0px 10px; 0 10px;float:right;width:100px;padding-left:10px;}
.search-bar
{
background-image:url(images/search-bg.jpg);
	background-repeat:no-repeat;
	border:thin;
	border-color:#b0c8e1;
	width:217px;
}
#member{
	height: 70px;
	width: 325px;
	float: right;
	margin-right:15px;
	margin-top: 10px;
padding-top:10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}
#member_av {
	float: left;
	width: 60px;
padding: 6px 10px 0px 7px;
}
#member_name {padding:5px 0 5px 0;}
#member_info {}

#wrap1{
background:# url(images/sidebg.gif) repeat-y;
clear:both;
margin:0px 0 0 30px;
padding-top:0px;
width:957px;
height: auto;
}

#wrap2{
	height: auto;
	width:890px;
	background-image: url(images/sidebg.gif);
	background-repeat: repeat-y;
	background-position: left top;
}

#header{
height:30px;
position:relative;
width:730px;
}

#header h1{
float:left;
font-size:1.4em;
margin:0;
width:180px;
}

#topbox{
	color:#808080;
	text-align:left;
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 4px;
	background-image: url(images/noticebg.gif);
	height: 71px;
	width: 700px;
	float: right;
	border: 1px solid #ffe0ab;
	padding-left: 0px;
}

#topbox a{
color:#d04a10;
}
#topbox p{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	padding-top: 25px;

}
#topbox a:hover{
text-decoration:underline;
}

#leftside{
height: auto;
	float:left;
	margin:5px 0 0;
	width:170px;
	background-image: url(images/leftgrad.gif);
	background-repeat: repeat-x;
	background-color: #b6d0ea;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #6892bb;
	border-left-color: #6892bb;
}

#leftside h1{
	margin-top: -5px;
	font-size:12px;
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	background-image: url(images/leftbg.gif);
	height: 23px;
	padding-left: 37px;
	padding-top: 5px;
	border: 1px solid #000000;

}
#leftside ul {margin-left: 10px;width: 150px;}
#leftside li {
padding-left: 20px;
	list-style-image: none;
	list-style-type: none;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #FFFFFF;
}
#leftside li a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: normal;
}
#leftside li a:hover {
	color: #666666;
}
#rightside{
float:right;
margin:40px 15px 20px 0;
width:130px;
}

#rightside h1{
font-size:1.4em;
font-weight:400;
margin:0 0 12px;
}

#rightside p{
font-size:0.9em;
margin:2px 0 12px 10px;
}



#content{
margin:0px 0px 0 0px;
width:700px;
float:left;
}

#contentalt{
margin:45px 15px 0 180px;
}

#content p,#contentalt p{
margin:8px 0 0 10px;
}

#content h1,#contentalt h1{
color:#505050;
font-size:2em;

font-weight:400;
margin:15px 0 10px;
padding:0;
}

#content h2,#contentalt h2{
color:#505050;
font-size:1.5em;
font-weight:400;
margin:20px 0 10px;
padding:0;
}



#footer{
	clear:both;
	color:#FFFFFF;
	font-size:12px;
	height:74px;
	margin-top:0px;
	padding:0px;

	width:990px;
	background-image: url(images/footer.gif);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

#footer a{
color:#6892bb;
font-weight:400;
}

#footer a:hover{
color:#a0a0a0;
text-decoration:underline;
}
#footerl {float:left;height:15px;}
#footerr {float:right;height:15px;}
#footerb {padding-top:30px;color:#000;width:400px;align:center;}
.menublock{
margin-bottom:10px;
}

.nav{
color:#d04a10;
display:block;
font-size:1.1em;
font-weight:700;
margin-bottom:1px;
padding:2px 2px 2px 10px;
position:relative;
text-decoration:none;
width:125px;
}

.nav:hover{
border:1px solid #fa9035;
color:#505050;
padding:1px 1px 1px 9px;
}


#text-field
{
	background-image:url(login_08.jpg);
	background-repeat:no-repeat;
	border-width:1px;
	border-color:#b0c8e1;
	margin-right:50px;
	margin-left:auto;
}


.search-button
{
	margin-top: 12px;
	margin-bottom:1px;
	background-image:url(images/search-now.jpg);
	background-repeat:no-repeat;
	width:83px;
	height:21px;
	border:none;
}




.page-title
{
	font-family:Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size:24px;
	font-variant:normal;
	font-weight:bold;
	color:#344659;
	padding-top:5px;
	padding-left:20px;
}
.title-under
{
	background-image:url(images/title-under.jpg);
	background-repeat:no-repeat;
	width:692px;
	height:9px;
	margin-left:10px;
	margin-bottom:0px;
}
.form-desc
{
	width:414px;
	background-color:#ffffff;
	margin-top:0px;
	font-size:11px;
	padding: 1px;
	border-bottom-width:1px;
	border-bottom-style: solid;
	border-bottom-color: #d0dee9;
}
.form-input1
{
	background-color:#e3ecf3;
	width:338px;
	margin-bottom:0px;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#d0dee9;
}
.form-input2
{
	background-color:#eef4f9;
	width:338px;
	margin-bottom:0px;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#d0dee9;
}
.form-title
{
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	color:#213447;
	padding-left:10px;
	padding-top:5px;
}
.form-text
{
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color:#213447;
	padding-left:10px;
	margin-bottom:0px;
}
.form-main
{
	border:#d0dee9;
}
.clearfloat
{
	clear:both;
	padding-bottom:10px;
}
.form-submit
{
	margin-left:11px;
}
.form-input-bg
{
	background-image:url(images/form-input-bg.jpg);
	background-repeat:no-repeat;
	width:301px;
	height:18px;
	border:none;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:18px;
}
.form-textbox-bg
{
	background-image:url(images/textbox-bg.jpg);
	width:300px;
	height:165px;
	border:none;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:18px;
}
.submit-buttons
{
	margin-left:150px;
}
.spanner
{
	height:100px;
}
.clear
{
	clear:both;
}
#listings
{
	width:750px;
	margin-left:10px;
	padding-left:10px;
	padding-right:0px;
	margin-right:0px;
}
#first-row
{
	margin-left:10px;
}
#second-row
{
	margin-left:10px;
}